no logs or resizing <br>
uncoerced categorical variables <br>
missing date

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')

from scipy.stats import kurtosis, skew
import scipy.stats as stats

from math import sqrt

import statsmodels.formula.api as smf

In [2]:
df = pd.read_csv("cleaned_data_kc_house_data")

In [7]:
df.head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650

In [6]:
col_names = df.describe().drop(['id', 'price', 'bathrooms', 'grade', 'sqft_above', 'sqft_living15'],axis =1)
results = [['ind_var', 'r_squared', 'intercept', 'slope', 'p-value' ]]
for idx, val in enumerate(col_names):
    print ("Kings Count: price~" + val)
    print ("------------------------------")

    f = 'price~' + val
    model = smf.ols(formula=f, data=df).fit()
    X_new = pd.DataFrame({val: [df[val].min(), df[val].max()]});
    preds = model.predict(X_new)
    results.append([val, model.rsquared, model.params[0], model.params[1], model.pvalues[1] ])
    print(results[idx+1])

Kings Count: price~bedrooms
------------------------------
['bedrooms', 0.09514380839134151, 127827.3725278766, 122292.47756399431, 0.0]
Kings Count: price~sqft_living
------------------------------
['sqft_living', 0.49280911924669446, -43268.512106262235, 280.48770861771254, 0.0]
Kings Count: price~sqft_lot
------------------------------
['sqft_lot', 0.007814472143692908, 528375.1502102641, 0.787376619727918, 7.585998491379787e-38]
Kings Count: price~floors
------------------------------
['floors', 0.06584503821760468, 279653.23058565654, 174471.17321540217, 0.0]
Kings Count: price~waterfront
------------------------------
['waterfront', 0.06800480097461792, 532399.6034095793, 1173308.552618794, 0.0]
Kings Count: price~view
------------------------------
['view', 0.15774906044067227, 495824.84238024266, 190385.36652566004, 0.0]
Kings Count: price~condition
------------------------------
['condition', 0.0011980636516726317, 473718.0759413225, 19510.898756434428, 4.984722228536798e-07]
Kings Count: price~sqft_basement
------------------------------
['sqft_basement', 0.1043403360061641, 462160.52256332163, 268.0065023424773, 0.0]
Kings Count: price~yr_built
------------------------------
['yr_built', 0.0030084646048746944, -811835.7701554694, 685.9800363317556, 1.5935116991992317e-15]
Kings Count: price~yr_renovated
------------------------------
['yr_renovated', 0.01365299512004814, 532177.9010089242, 118.0378169199777, 5.5496510506427115e-65]
Kings Count: price~zipcode
------------------------------
['zipcode', 0.0028546159908424684, 36441265.97399695, -366.0461138656744, 8.312249106095907e-15]
Kings Count: price~lat
------------------------------
['lat', 0.09465928356351017, -38186648.20337009, 814268.1500736964, 0.0]
Kings Count: price~long
------------------------------
['long', 0.0005067813418511147, 7716102.396627214, 58715.57038700301, 0.0010798408406751392]
Kings Count: price~sqft_lot15
------------------------------
['sqft_lot15', 0.006977342552415111, 525880.1564511117, 1.1283501334874435, 5.81826300648992e-34]

In [8]:
pd.DataFrame(results)

                0            1            2            3            4
0         ind_var    r_squared    intercept        slope      p-value
1        bedrooms    0.0951438       127827       122292            0
2     sqft_living     0.492809     -43268.5      280.488            0
3        sqft_lot   0.00781447       528375     0.787377    7.586e-38
4          floors     0.065845       279653       174471            0
5      waterfront    0.0680048       532400  1.17331e+06            0
6            view     0.157749       495825       190385            0
7       condition   0.00119806       473718      19510.9  4.98472e-07
8   sqft_basement      0.10434       462161      268.007            0
9        yr_built   0.00300846      -811836       685.98  1.59351e-15
10   yr_renovated     0.013653       532178      118.038  5.54965e-65
11        zipcode   0.00285462  3.64413e+07     -366.046  8.31225e-15
12            lat    0.0946593 -3.81866e+07       814268            0
13           long  0.000506781   7.7161e+06      58715.6   0.00107984
14     sqft_lot15   0.00697734       525880      1.12835  5.81826e-34